* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --mainCyanColor: #67d4f2;
  --fontMontserrat: 'Montserrat', sans-serif;;
}

main {
  height: 100vh;
  background: rgb(78, 141, 242);
  background: linear-gradient(180deg, rgba(78, 141, 242, 1) 0%, rgba(93, 193, 240, 1) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--fontMontserrat);

  .boxContainer {
    width: 50%;
    height: 70%;
    display: flex;
    flex-wrap: wrap;

    .boxRow {
      display: flex;
      width: 100%;
      height: 50%;

      .boxItem {
        width: 50%;
        padding: 1%;

        &.active {
          width: 80%;
        }

        .boxItemContent {
          background-color: white;
          opacity: 0.5;
          width: 100%;
          height: 100%;
          border-radius: 15px;
          position: relative;
          padding: 30px;
          display: flex;
          flex-direction: column;

          .circle {
            border-radius: 50%;
            position: absolute;
            top: 20px;
            right: 30px;
            width: 25px;
            height: 25px;
            border: 3px solid var(--mainCyanColor);
          }

          .textContent {
            margin-top: auto;
            font-size: 2.5rem;

            .bigText {
              font-size: 5rem;
              font-weight: bold;
              margin-right: 0.5rem;
            }
          }

          .horizontalLine {
            height: 4px;
            width: 20%;
            border: 1px solid var(--mainCyanColor);
          }
        }

        &.active .boxItemContent {
          opacity: 1;

          .circle {
            background-color: var(--mainCyanColor);
          }

          .horizontalLine {
            width: 100%;
            background-color: var(--mainCyanColor);
          }
        }
      }
    }
  }

  @media screen and (max-width: 900px) {
    .boxContainer {

      .boxRow {

        .boxItem {

          .boxItemContent {

            .textContent{
              font-size: 1.5;
  
              .bigText {
                font-size: 3rem;
              }
            }
          }
          
        }
      }
    }
  }

  @media screen and (max-width: 768px) {
    .boxContainer {
      width: 100%;
      height: 70%;
      padding: .5rem;
      align-self: center;
      margin-left: 15%;

      .boxRow {
        display: flex;
        width: 80%;
        height: auto;

        .boxItem {
          width: 80%;
          padding: .3%;

          &.active {
            width: 100%;
          }
          .boxItemContent {
            border-radius: 5px;

            .circle {
              width: 10px;
              height: 10px;
            }

            .textContent{
              font-size: .5rem;
  
              .bigText {
                font-size: 1.5rem;
              }
            }
          }
          
        }
      }
    }
  }
}
